.course-img {
  height: 350px;
}
.course-name {
  font-family: 'Roboto';
  font-size: 19px;
  color: #1e293b;
}
.course-desc {
  font-family: 'Roboto';
  font-size: 14px;
  color: #475569;
  line-height: 2;
}
.course-con {
  display: flex;
  justify-content: center;
  margin: 50px;
  margin-top: 80px;
}
.card-con {
  background-color: #ffffff;
  margin: 20px;
  box-shadow: 0px 0x 16px 4px #bfbfbf;
}
.loader-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
